<!DOCTYPE html>
<html>
<head>
  <title>Customer Login</title>
  <style>
    body {
      font-family: Arial;
      background: #f3f4f6;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .card {
      background: white;
      padding: 30px;
      border-radius: 8px;
      width: 320px;
      box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    }

    input {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      width: 100%;
      padding: 10px;
      margin-top: 15px;
      background: #5e8046;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .error {
      color: red;
      margin-top: 10px;
    }
  </style>
</head>

<body>

<div class="card">
  <h2>Customer Login</h2>

  <form method="POST" action="/customer/login">
  <label>Email</label>
  <input type="email" name="email" required />

  <label>Password</label>
  <input type="password" name="password" required />

  <button type="submit">Login</button>
  <% if(error){ %>
    <p style="color:red;"><%= error %></p>
  <% } %>
</form>



</div>

</body>
</html>
